body {
  margin: 0;
}

/* global selction */

* {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

/* wrapper class */

.container {
  width: 80%;
  margin: auto;
}

/* hero section */

.hero {
  height: 90vh;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero > div {
  position: absolute;
  top: 30vh;
  left: 10vw;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.206);
  /* color: white; */
  width: 450px;
  padding: 1rem;
  backdrop-filter: blur(10px);
}

/* nav section */

nav {
  background: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

nav ul li {
  transition: all 0.5s;
}

nav ul li:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.4);
}

/* section */

/* ==== select the class with initial letter s...  */

[class^="s"] {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s1 {
  background: url(./assets/a.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.s2 {
  background: url(./assets/b.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.s3 {
  background: url(./assets/c.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.s4 {
  background: url(./assets/d.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  background: rgba(0, 0, 0, 0.646);
  color: white;
  font-size: 2rem;
  padding: 1.4rem 5rem;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1rem;
  backdrop-filter: blur(5px);
}

/* =====footer */

footer {
  background: #000;
  color: white;
  padding: 3rem;
  text-align: center;
}

/* down arrow  */

.down {
  font-size: 5rem;
  position: absolute;
  color: white;
  bottom: 100px;
  left: 50%;
  transform: rotate(90deg);
  animation: goDown 1s linear infinite;
}

/* down arrow animation */

@keyframes goDown {
  from {
    transform: translateY(0%) rotate(90deg);
    /* bottom: 100px; */
  }
  to {
    transform: translateY(100%) rotate(90deg);
    /* bottom: 10px; */
  }
}
