.container {
  background: blue;
  width: 80%;
  height: 90vh;
  margin: auto;
  /* flex content */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.parent {
  background: burlywood;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  /* contect display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* spin animation later define differently below */
  animation: spin 2s linear infinite reverse;
}

h2 {
  animation: spin 1s linear infinite;
  color: white;
}

.ball {
  background: red;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: radial-gradient(white, red 70%);
  position: absolute;
  left: 40px;
  top: 40px;
  /* circle is defined below */
  animation: circle 2s infinite;
}

/* spin defined */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* circle defination */

@keyframes circle {
  0% {
    left: 40px;
    top: 40px;
  }
  25% {
    left: 80%;
    top: 40px;
  }
  50% {
    left: 80%;
    top: 70vh;
    background: radial-gradient(white, yellow 50%);
  }
  75% {
    left: 40px;
    top: 70vh;
  }
  100% {
    left: 40px;
    top: 40px;
  }
}
