body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.flex {
  display: flex;
  /* gap: 1rem; */
}

.grid {
  display: grid;
  gap: 0.4rem;
}

/* ===== coloring ===== */

:root {
  --color-blue: blue;
  --color-black: black;
  --color-red: red;
  --color-text: #fff;
  --body-bg: rgba(196, 191, 191, 0.651);
  --text-color: var(--color-black);
}

.container {
  margin: auto;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(200deg, white, blue);
}

/* ==== main section ==== */

.cal {
  border: solid 2px;
  position: relative;
  top: 2rem;
  left: auto;
  width: 400px;
  padding: 1.2rem;
  margin: 1rem;
  /* width: 50vw; */
  background: var(--body-bg);
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "result result result result" "ac c mod divide" "seven eight nine multiply" "four five six sub" "one two three add" "zero zero decimal equal";
}

.cal div {
  background: var(--color-blue);
  text-align: center;
  color: var(--color-text);
  /* margin: 1rem; */
  padding: 1rem;
}

.cal .result {
  text-align: right;
  grid-area: result;
}

.ac {
  color: rgb(255, 255, 0) !important;
}

.zero {
  grid-area: zero;
}

.cal :not(:first-child):hover {
  cursor: pointer;
  background: black;
  transform: 1.2s;
}
